<nav class="navbar">
    <ul class="nav-list">
      <li><a href="/aboutMe">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>