<footer>
  <div class="copyright">
      <p>&copy; <%= new Date().getFullYear() %>Prashant Upreti</p>
  </div>
  <div class="student-id">
      <p>Student ID: 301321557</p>
  </div>
  <div class="thank-you">
      <p>Thank you for visiting us</p>
  </div>
</footer>
<style>
   
    footer {
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 20px;
        position: relative;
        bottom: 0;
        width: 100vw;
    }

    footer p {
        font-size: 16px;
        margin: 10px;
    }

    .copyright {
        font-weight: bold;
    }

    .student-id {
        font-style: italic;
    }

    .thank-you {
        font-weight: bold;
    }
</style>

