<title>Elevating Design: Prashant's Portfolio Showcase</title>
<nav class="navbar">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/aboutMe">About Me</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <style>nav {
    background-color: #526b4a;
    width: 100%;
    position: absolute;
    top: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
</style>
 