h1 {
    font-size: 32px;
}

.contact-form, .social-links {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, textarea {
    margin: 10px 0;
}

button {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-links ul {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    margin: 10px 0;
}

/* CSS for social platform links */
.social-links a {
    display: inline-block;
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.social-links a:hover {
    background-color: #0052a3;
}