<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
  <%- include("../partials/content"); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Personal Portfolio</title>
</head>
<body>
    <header>
        <section id="about" class="portfolio">
            <div class="intro-text">
                <h1>Hello, I am Prashant Upreti</h1>
                <p>Web Developer | JavaScript Programmer | C# Developer</p>
            </div>

            <div class="images">
                <img class="myphoto" src="myphoto.jpg" alt="My Photo">
                <img class="photo1" src="photo1.jpeg" alt="photo1">
                <img class="photo2" src="photo2.jpeg" alt="photo2">
                <img class="photo3" src="photo3.jpeg" alt="photo3">
            </div>
            
        </section>
    </header>
</body>
<%- include("../partials/footer"); %>
</html>
