<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <%- include("../partials/content"); %>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="services.css">
</head>
<body>
    <header>
        <h1>Services - Prashant upreti</h1>
    </header>

    <section class="service">
        <img src="webdevelopment.jpeg" alt="Web Design">
        <h2>Web Design</h2>
        <p>We create stunning and user-friendly websites tailored to your business needs. Our web designs are responsive and visually appealing.</p>
    </section>

    <section class="service">
        <img src="csharp.jpeg" alt="C# Programming">
        <h2>C# Programming</h2>
        <p>We offer custom software development and solutions using C#. Our expertise spans desktop applications, web applications, and more.</p>
    </section>

    <section class="service">
        <img src="javascript.jpeg" alt="JavaScript Development">
        <h2>JavaScript Development</h2>
        <p>Enhance your web presence with dynamic and interactive websites. We excel in JavaScript development, providing interactivity and functionality.</p>
    </section>

    <%- include("../partials/footer"); %>
</body>
</html>
